.followers {
  //border: 1px solid black;
  text-align: center;
  width: 50%;
  @media (min-width: 780px) {
    width: 350px;
  }
  @media (max-width: 550px) {
    width: 75%;
    margin-top: 15px;
  }

  .followers-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    @media (max-width: 470px) {
      justify-content: center;
    }
  }
}