.user-card {
  //border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;

  .user-card-top {
    margin: auto;
  }

  .top-row {
    display: flex;
    flex-direction: row;
  }

  .profile-picture {
    width: 230px;
    //height: 28px;
    border-radius: 8px;
    //margin: auto;
    margin-right: 20px;
  }

  .name-link {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;

    .name-links {
      margin: auto;
      h1 {
        margin-bottom: 0;
      }
    }
  }
}

.bottom-content {
  display: flex;
  flex-direction: row;
  //justify-content: space-around;
  padding: 0 20px 0 20px;
  //border: 1px solid black;
}

